.taskContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-400);
  height: 4.5rem;
  width: 63%;
  margin: 0 auto;
  border-radius: 8px;
  padding: 0 20px;
}

.taskContent + .taskContent {
  margin-top: 2rem;
}

.taskContent > button {
  background-color: var(--gray-400);
  color: var(--gray-100);
  border: none;
}
